# General system files
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.tmp
*.temp
*.bak
*.backup
*.orig
*.old

# Python
__pycache__/
*.py[cod]
*.so
*.pyo
env/
venv/
ip_venv/
*.egg-info/
.eggs/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# VSCode
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints

# Miscellaneous
.vagrant/
.env
*.env.local
*.env.*.local
.envrc
.history
*.history

# Repo specific
Outputs/
Data/archive
Data/